<p-toast [style]="{marginTop: '80px'}"></p-toast>

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)" enctype="multipart/form-data">
    <p-panel header={{formTitle}}>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Nombre *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="nombre" placeholder="Required" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="nombre es requerido"
                        *ngIf="!userform.controls['nombre'].valid&&userform.controls['nombre'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Correo:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="email" formControlName="correoFabricante" placeholder="Required" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Correo es requerido"
                        *ngIf="!userform.controls['correoFabricante'].valid&&userform.controls['correoFabricante'].dirty">
                    </p-message>
                </div>
            </div>


            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Caracteristicas *:
                </div>
                <div class="ui-grid-col-6">
                    <textarea pInputText type="text" formControlName="caracteristicas"
                        placeholder="Required"></textarea>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="caracteristicas es requerido"
                        *ngIf="!userform.controls['caracteristicas'].valid&&userform.controls['caracteristicas'].dirty">
                    </p-message>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Pais Fabricación *:
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown *ngIf="!modoDetail" [options]="countries" formControlName="pais"></p-dropdown>
                    <input *ngIf="modoDetail" pInputText type="text" disabled [value]="initialCountry" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Pais es requerido"
                        *ngIf="!userform.controls['pais'].valid&&userform.controls['pais'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Fecha de Lanzamiento *:
                </div>

                <div class="ui-grid-col-6">
                    <p-calendar *ngIf="!modoDetail" formControlName="fechaLanzamiento" showTime="true" hourFormat="12"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" placeholder="Required">
                    </p-calendar>
                    <input *ngIf="modoDetail" pInputText type="text" disabled [value]="initialDate" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Fecha de Lanzamiento es requerido"
                        *ngIf="!userform.controls['fechaLanzamiento'].valid&&userform.controls['fechaLanzamiento'].dirty">
                    </p-message>
                </div>
            </div>


            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Precio *:
                </div>
                <div class="ui-grid-col-6">

                    <input *ngIf="!modoDetail" pInputText type="number" formControlName="precio" placeholder="Required"
                        min="0" />
                    <input *ngIf="modoDetail" pInputText type="text" disabled [value]="precioDetail" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="El precio es requerido"
                        *ngIf="!userform.controls['precio'].valid&&userform.controls['precio'].dirty">
                    </p-message>
                </div>
            </div>


            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Unidades Disponibles *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="number" formControlName="unidadesDisponibles" placeholder="Required" min="0"
                        step="1" pattern="\d*" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Unidades Disponibles es requerido"
                        *ngIf="!userform.controls['unidadesDisponibles'].valid&&userform.controls['unidadesDisponibles'].dirty">
                    </p-message>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Unidades Vendidas *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="number" formControlName="unidadesVendidas" placeholder="Required" min="0"
                        step="1" pattern="\d*" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Unidades Vendidas es requerido"
                        *ngIf="!userform.controls['unidadesVendidas'].valid&&userform.controls['unidadesVendidas'].dirty">
                    </p-message>
                </div>
            </div>

            <div class="ui-grid-row" *ngIf="modoDetail">
                <div class="ui-grid-col-2">
                    Fecha Última Revisión *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="fechaUltimaRevision" [value]="userform.get('fechaUltimaRevision').value  | date:'yyyy-MM-dd   h:mm:ss'" />
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Revisión *:
                </div>
                <div class="ui-grid-col-6">
                    <p-checkbox binary="true" [formControl]="userform.controls['revision']"></p-checkbox>
                </div>
            </div>

            <div class="ui-grid-row" *ngIf="!modoDetail">
                <div class="ui-grid-col-2">
                    Imagen *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="file" formControlName="imagen" accept="image/png, image/jpeg"
                        placeholder="Required" (change)="onFileSelected($event)" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="La imagen es requerida"
                        *ngIf="!userform.controls['imagen'].valid&&userform.controls['imagen'].dirty"></p-message>

                     <p-message severity="error" text="La imagen debe ser menor o igual a 6KB"
                        *ngIf="userform.controls['imagen'].valid&&tooBigImage"></p-message>
                </div>
            </div>

            <!-- *ngIf="!modoDetail" -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">

                </div>
                <div class="ui-grid-col-6">
                    <img class="animated zoomIn delay-1s" [src]="imageUrl" width="120" height="100">
                </div>

            </div>



            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <!-- <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>     -->
                    <button *ngIf="!modoDetail" type="submit" class="btn " [ngClass]="{'btn-success': userform.valid && !tooBigImage}"
                        [disabled]="!userform.valid||tooBigImage">Guardar<i #spinner style="font-size:20px"></i></button><button
                        type="button" class="btn btn-default" name="regresar" [routerLink]='["/PM/product/products"]'
                        style="float:right;">Regresar</button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>


            <!-- <div style="text-align:center;margin-top:20px" *ngIf="true">
                <pre>
                Form Submitted           
                <br>
                {{diagnostic}}
            </pre>
            </div>  -->
        </div>
    </p-panel>
</form>