<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">

            <form [formGroup]="formGroup" class="form-horizontal form-material" id="loginform" action="index.html" novalidate>

                <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-icon.png" alt="Home" /><br/><img src="assets/images/logo-text.png" alt="Home" /></a>
                <h3 class="box-title m-t-40 m-b-0">Regístrese</h3><small>Cree una cuenta</small>
                <div class="form-group m-t-20">

                    <!-- <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Name">
                    </div> -->

                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input formControlName="email" class="form-control" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Email">
                        <span class="help-block" *ngIf="(formGroup.get('email').touched || formGroup.get('email').dirty) && formGroup.get('email').errors">
                                <span style="color:#ff0011" *ngIf="formGroup.get('email').errors.required">
                                  El campo email es requerido
                                </span>
                        </span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="password" class="form-control" type="password" placeholder="Password ejemplo: Na987651! ">
                        <span class="help-block" *ngIf="(formGroup.get('password').touched || formGroup.get('password').dirty) && formGroup.get('password').errors">
                                <span style="color:#ff0011" *ngIf="formGroup.get('password').errors.required">
                                  El campo password es requerido
                                </span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input formControlName="passwordConfirm" class="form-control" type="password" placeholder="Confirm Password">
                        <span class="help-block" *ngIf="(formGroup.get('passwordConfirm').touched || formGroup.get('passwordConfirm').dirty) && formGroup.get('passwordConfirm').errors">
                                <span style="color:#ff0011" *ngIf="formGroup.get('passwordConfirm').errors.required">
                                  El campo confirmar el password es requerido
                                </span>
                        </span>
                    </div>
                </div>
                <!--<div class="form-group row">
                   <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                        </div>
                    </div>
                </div> -->
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="button" (click)="registrarse()" [disabled]="!formGroup.valid">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">

                        <p>Ya tiene una cuenta? <a [routerLink]="['/login']" class="text-info m-l-5"><b>Sign In</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->