<div class="group-pair">
    <h3 class="inline-elements">Listado de Productos</h3>
    <button class="btn btn-primary inline-elements put-right" routerLink="/PM/product/products-form/">
        <i class="fa fa-plus"></i>
        Crear Producto
    </button>
</div>

<!-- [paginator]="true" -->

<p-table #dt [columns]="cols" [paginator]="true" [value]="products" [rows]="rowNumber" [totalRecords]="totalRecords" [loading]="loading">

    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th style="width: auto;"></th>
        </tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

            <p-dropdown *ngSwitchCase="'pais'" [options]="countries" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
        </th>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field] | filtercurrency}}
            </td>

            <td style="text-align:center">
                <button pButton type="button" icon="fa fa-search" class="ui-button-success" style="margin-right: .5em" (click)="selectProductWithButton(rowData)"></button>
                <button pButton type="button" icon="fa fa-trash" class="ui-button-warning" style="margin-right: .5em" (click)="selectProductWithButton(rowData, 1)"></button>
            </td>
        </tr>
    </ng-template>

</p-table>
<!-- <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator> -->

<div class="alert alert-info" *ngIf="emptyList">
    <strong>Información: </strong> No se encontraron productos..!!
</div>

<p-dialog header="Eliminar" [(visible)]="displayDialog" [style]="{width: '300px', height: '200px'}">

    <p-header>
        Producto
    </p-header>
    <p><strong>Confirmar la eliminación del item <b> {{ currentProductName }} </b>, esta acción es irreversible.!!</strong></p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-check" (click)="confirmDelete()" label="SI"></button>
            <button type="button" pButton icon="fa fa-close" (click)="abortDelete()" label="NO"></button>
        </div>
    </p-footer>
</p-dialog>