
.group-pair{
    padding: 1% 0% 2% 0%;
    overflow:auto;
}

.inline-elements{
    display: inline-block;
}

.put-right{ 
 float:right;
}

td {   
    overflow: hidden;
    text-overflow: ellipsis;
}

/**********************************/

