<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/PM/common/home/']">
                <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text --><span>
                    <!-- dark Logo text -->
                    <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text -->
                    <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">


                <!-- ============================================================== -->
                <!-- Opportunity Buttom -->
                <!-- ============================================================== -->
                <li class="navbar-nav margin-right">
                    <button type=" button " class="btn btn-info " (click)="ChangeStatusOpportunity() ">{{opportunityFlatText}}</button>
                </li>


                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark " href="javascript:void(0) "><i
                            class="ti-search "></i></a>
                    <form class="app-search ">
                        <input type="text " class="form-control " placeholder="Search & enter "> <a class="srh-btn "><i
                                class="ti-close "></i></a> </form>
                </li>

                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link waves-effect waves-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true " aria-expanded="false "><img src="assets/images/users/carlos.jpg " alt="user " class="profile-pic " /></a>
                    <ul class="dropdown-menu dropdown-user dropdown-menu-right animated slideInDown faster">
                        <li>
                            <div class="dw-user-box ">
                                <div class="u-img "><img src="assets/images/users/carlos.jpg " alt="user "></div>
                                <div class="u-text ">
                                    <h4>Carlos Abreu</h4>
                                    <p class="text-muted ">carlosuerbagt@gmail.com</p><a href="pages-profile.html " class="btn btn-rounded btn-danger btn-sm ">View Profile</a>
                                </div>
                            </div>
                        </li>
                        <li role="separator " class="divider "></li>
                        <li><a class="cursor-pointer"><i class="ti-user "></i> Mi perfil</a></li>
                        <li role="separator " class="divider "></li>
                        <li><a class="cursor-pointer" (click)="logout()"><i class="fa fa-power-off "></i> Logout</a></li>
                    </ul>

                </li>

            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->